#%RAML 1.0
title: 2016 HMIS API
version: 1.0.0
mediaType: application/json
protocols:
  - HTTPS
baseUri: 'https://www.hmislynk.com/hmis-clientapi-v2016/rest'
securitySchemes:
  oauth_2_0:
    description: |
      The HMIS API supports OAuth 2.0 for authenticating all API requests.
    type: OAuth 2.0
    settings:
      authorizationUri: 'https://hmislynk.com/hmis-authorization-service/rest/authorize'
      accessTokenUri: 'https://hmislynk.com/hmis-authorization-service/rest/token'
      authorizationGrants:
        - password
      scopes:
        - user
        - administrator
    describedBy:
      responses:
        '401':
          description: |
            Bad or expired token. This can happen if the user or the HMIS
            revoked or expired an access token. To fix, you should re-
            authenticate the user.
        '403':
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
      headers:
        Authorization:
          required: false
          description: |
            Used to send a valid OAuth 2 access token. Do not use
            an "access_token" query string parameter.
          type: string
          displayName: Authorization
      securedBy:
        - oauth_2_0
types:
  affiliation_id_json:
    type: string
  affiliations_ids_json:
    type: string
  affiliations_json:
    type: string
  client_id_json:
    type: string
  clients_ids_json:
    type: string
  clients_json:
    type: string
  contact_id_json:
    type: string
  contact_ids_json:
    type: string
  contact_json:
    type: string
  dateofengagements_id_json:
    type: string
  dateofengagements_ids_json:
    type: string
  dateofengagements_json:
    type: string
  disabilities_id_json:
    type: string
  disabilities_ids_json:
    type: string
  disabilities_json:
    type: string
  domesticviolence_id_json:
    type: string
  domesticviolence_ids_json:
    type: string
  domesticviolence_json:
    type: string
  education_ids_json:
    type: string
  education_id_json:
    type: string
  education_json:
    type: string
  employment_id_json:
    type: string
  employments_ids_json:
    type: string
  employments_json:
    type: string
  enrollment_id_json:
    type: string
  enrollmentcoc_id_json:
    type: string
  enrollmentcoc_ids_json:
    type: string
  enrollmentcoc_json:
    type: string
  enrollments_ids_json:
    type: string
  enrollments_json:
    type: string
  entryrhsp_id_json:
    type: string
  entryrhsp_ids_json:
    type: string
  entryrhsp_json:
    type: string
  entryrhy_id_json:
    type: string
  entryrhy_ids_json:
    type: string
  entryrhy_json:
    type: string
  entryssvf_id_json:
    type: string
  entryssvf_ids_json:
    type: string
  entryssvf_json:
    type: string
  exit_id_json:
    type: string
  exit_ids_json:
    type: string
  exit_json:
    type: string
  exithosingassessments_id_json:
    type: string
  exithosingassessments_ids_json:
    type: string
  exithosingassessments_json:
    type: string
  exitpath_id_json:
    type: string
  exitpath_ids_json:
    type: string
  exitpath_json:
    type: string
  exitrhy_id_json:
    type: string
  exitrhy_ids_json:
    type: string
  exitrhy_json:
    type: string
  funder_id_json:
    type: string
  funders_ids_json:
    type: string
  funders_json:
    type: string
  healthinsurance_id_json:
    type: string
  healthinsurance_json:
    type: string
  healthinsurances_ids_json:
    type: string
  healthstatus_id_json:
    type: string
  healthstatus_ids_json:
    type: string
  healthstatus_json:
    type: string
  housingassesmentdispositions_id_json:
    type: string
  housingassesmentdispositions_ids_json:
    type: string
  housingassesmentdispositions_json:
    type: string
  id_affiliation_json:
    type: string
  id_clients_json:
    type: string
  id_contact_json:
    type: string
  id_dateofengagements_json:
    type: string
  id_disabilities_json:
    type: string
  id_domesticviolences_json:
    type: string
  id_education_json:
    type: string
  id_employments_json:
    type: string
  id_enrollmentcoc_json:
    type: string
  id_enrollments_json:
    type: string
  id_entryrhsp_json:
    type: string
  id_entryrhy_json:
    type: string
  id_entryssvf_json:
    type: string
  id_exithousingassesment_json:
    type: string
  id_exitpath_json:
    type: string
  id_exitrhy_json:
    type: string
  id_exits_json:
    type: string
  id_funders_json:
    type: string
  id_healthinsurance_json:
    type: string
  id_healthstatus_json:
    type: string
  id_housingassesmentdispositions_json:
    type: string
  id_incomeandsources_json:
    type: string
  id_inventories_json:
    type: string
  id_medicalassistances_json:
    type: string
  id_noncashbenefits_json:
    type: string
  id_organization_json:
    type: string
  id_pathstatus_json:
    type: string
  id_projectcoc_json:
    type: string
  id_projects_json:
    type: string
  id_residentialmoveindate_json:
    type: string
  id_servicefareferral_json:
    type: string
  id_sites_json:
    type: string
  id_veteraninfo_json:
    type: string
  incomeandsource_id_json:
    type: string
  incomeandsources_ids_json:
    type: string
  incomeandsource_json:
    type: string
  inventories_id_json:
    type: string
  inventories_ids_json:
    type: string
  inventories_json:
    type: string
  medicalassistance_json:
    type: string
  medicalassistances_ids_json:
    type: string
  medicalassistances_id_json:
    type: string
  noncashbenefits_id_json:
    type: string
  noncashbenefits_json:
    type: string
  noncashbenefits_ids_json:
    type: string
  pathstatus_id_json:
    type: string
  pathstatus_ids_json:
    type: string
  pathstatus_json:
    type: string
  project_json:
    type: string
  organization_json:
    type: string
  projectcoc_id_json:
    type: string
  projectcoc_ids_json:
    type: string
  projectcoc_json:
    type: string
  organization_id_json:
    type: string
  organization_ids_json:
    type: string
  projects_id_json:
    type: string
  projects_ids_json:
    type: string
  residentialmoveindate_id_json:
    type: string
  residentialmoveindate_ids_json:
    type: string
  residentialmoveindate_json:
    type: string
  servicefareferral_id_json:
    type: string
  servicefareferral_json:
    type: string
  servicefareferrals_ids_json:
    type: string
  sites_id_json:
    type: string
  sites_ids_json:
    type: string
  sites_json:
    type: string
  veteraninfo_id_json:
    type: string
  veteraninfo_ids_json:
    type: string
  veteraninfo_json:
    type: string
resourceTypes:
  collection:
    securedBy:
      - oauth_2_0
    description: 'Operations performed on the set of all HMIS <<resourcePathName>> within the system, and for adding a new <<resourcePathName|!singularize>> to the set of <<resourcePathName>> '
    get:
      description: 'Searches for <<resourcePathName|!singularize>>.  Returns a list of <<resourcePathName|!singularize>> ids, based on the query parameters sent.  The query parameters are cumulative, so each additional query parameter narrows the search down further.'
      responses:
        '200':
          description: OK – Everything is working.
          body:
            application/json:
              example: <<schema_ids_json_example>>
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: 500 – Internal Server Error
      queryParameters:
        CreatedAfter:
          required: false
          description: searches for members of the collection created after (inclusive) a particular date
          example: 10-11-2011
          type: date
          displayName: CreatedAfter
        CreatedBefore:
          required: false
          description: searches for members of the collection created before (inclusive) a particular date
          example: 10-11-2012
          type: date
          displayName: CreatedBefore
        UpdatedAfter:
          required: false
          description: searches for members of the collection updated after (inclusive) a particular date
          example: 10-11-2011
          type: date
          displayName: UpdatedAfter
        UpdatedBefore:
          required: false
          description: searches for members of the collection updated before (inclusive) a particular date
          example: 10-11-2012
          type: date
          displayName: UpdatedBefore
      securedBy:
        - oauth_2_0
    post:
      description: |
        Add a <<resourcePathName|!singularize>>
      responses:
        '201':
          description: OK - New resource has been created.
          body:
            application/json:
              example: <<id_schema_json_example>>
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: 'Forbidden – The server understood the request, but is refusing it or access is not allowed.'
        '404':
          description: Not found – There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: 500 – Internal Server Error.
      body:
        application/json:
          example: <<schema_json_example>>
      securedBy:
        - oauth_2_0
  member:
    securedBy:
      - oauth_2_0
    get:
      description: Gets a <<resourcePathName|!singularize>> using a URI resource parameter/ID.
      responses:
        '200':
          description: OK – Everything is working.
          body:
            application/json:
              example: <<schema_id_json_example>>
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires an user authentication.
        '403':
          description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error
      securedBy:
        - oauth_2_0
    put:
      description: Updates a specific <<resourcePathName|!singularize>> specified by the URI resource parameter/ID.
      responses:
        '200':
          description: OK – Everything is working.
        '304':
          description: Not Modified – The client can use cached data.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires a user.
        '403':
          description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      body:
        application/json:
          example: <<schema_json_example>>
      securedBy:
        - oauth_2_0
    delete:
      description: Deletes a specific <<resourcePathName|!singularize>> specified by the URI resource parameter/ID.
      responses:
        '204':
          description: OK – The resource was successfully deleted.
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: Internal Server Error.
      securedBy:
        - oauth_2_0
/v2016:
  /clients:
    displayName: /v2016/clients
    description: 'Operations performed on the set of all HMIS clients within the system, and for adding a new client to the set of clients '
    type:
      collection:
        id_schema_json: id_clients_json
        schema_json: clients_json
        schema_ids_json: clients_ids_json
        schema_ids_json_example: !include ./examples/Clients_ids_json_example.json
        schema_json_example: !include ./examples/clients_json_example.json
        id_schema_json_example: !include ./examples/id_client_json_example.json
    get:
      description: 'Searches for client.  Returns a list of client ids, based on the query parameters sent.  The query parameters are cumulative, so each additional query parameter narrows the search down further.'
      responses:
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '403':
          description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
        '404':
          description: Not found – There is no resource behind the URI.
        '500':
          description: 500 – Internal Server Error
      securedBy:
        - oauth_2_0
      protocols:
        - HTTPS
    post:
      description: |
        Add a client
      responses:
        '400':
          description: Bad Request – The request was invalid or cannot be served.
        '401':
          description: Unauthorized – The request requires user authentication.
        '403':
          description: 'Forbidden – The server understood the request, but is refusing it or access is not allowed.'
        '404':
          description: Not found – There is no resource behind the URI.
        '422':
          description: Unprocessable Entity - Request body is incorrect.
        '500':
          description: 500 – Internal Server Error.
      securedBy:
        - oauth_2_0
      protocols:
        - HTTPS
    securedBy:
      - oauth_2_0
    '/{clientid}':
      displayName: '/{clientid}'
      type:
        member:
          schema_json: clients_json
          schema_id_json: client_id_json
          schema_id_json_example: !include ./examples/Client_id_json_example.json
          schema_json_example: !include ./examples/clients_json_example.json
      get:
        description: Gets a client using a URI resource parameter/ID.
        responses:
          '400':
            description: Bad Request – The request was invalid or cannot be served.
          '401':
            description: Unauthorized – The request requires an user authentication.
          '403':
            description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
          '404':
            description: Not found – There is no resource behind the URI.
          '500':
            description: Internal Server Error
        securedBy:
          - oauth_2_0
        protocols:
          - HTTPS
      put:
        description: Updates a specific client specified by the URI resource parameter/ID.
        responses:
          '200':
            description: OK – Everything is working.
          '304':
            description: Not Modified – The client can use cached data.
          '400':
            description: Bad Request – The request was invalid or cannot be served.
          '401':
            description: Unauthorized – The request requires a user.
          '403':
            description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
          '404':
            description: Not found – There is no resource behind the URI.
          '500':
            description: Internal Server Error.
        securedBy:
          - oauth_2_0
        protocols:
          - HTTPS
      delete:
        description: Deletes a specific client specified by the URI resource parameter/ID.
        responses:
          '204':
            description: OK – The resource was successfully deleted.
          '400':
            description: Bad Request – The request was invalid or cannot be served.
          '401':
            description: Unauthorized – The request requires user authentication.
          '403':
            description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
          '404':
            description: Not found – There is no resource behind the URI.
          '500':
            description: Internal Server Error.
        securedBy:
          - oauth_2_0
        protocols:
          - HTTPS
      uriParameters:
        clientid:
          example: ADBC1111211111114111111111D1111V
          type: string
          displayName: Client Identifier
      securedBy:
        - oauth_2_0
      /enrollments:
        displayName: /enrollments
        description: 'Operations performed on the set of all HMIS enrollments within the system, and for adding a new enrollment to the set of enrollments '
        type:
          collection:
            id_schema_json: id_enrollments_json
            schema_json: enrollments_json
            schema_ids_json: enrollments_ids_json
            schema_ids_json_example: !include ./examples/Enrollments_ids_json_example.json
            schema_json_example: !include ./examples/Enrollments_json_example.json
            id_schema_json_example: !include ./examples/id_enrollment_json_example.json
        get:
          description: 'Searches for enrollment.  Returns a list of enrollment ids, based on the query parameters sent.  The query parameters are cumulative, so each additional query parameter narrows the search down further.'
          responses:
            '400':
              description: Bad Request – The request was invalid or cannot be served.
            '403':
              description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
            '404':
              description: Not found – There is no resource behind the URI.
            '500':
              description: 500 – Internal Server Error
          securedBy:
            - oauth_2_0
          protocols:
            - HTTPS
        post:
          description: |
            Add a enrollment
          responses:
            '400':
              description: Bad Request – The request was invalid or cannot be served.
            '401':
              description: Unauthorized – The request requires user authentication.
            '403':
              description: 'Forbidden – The server understood the request, but is refusing it or access is not allowed.'
            '404':
              description: Not found – There is no resource behind the URI.
            '422':
              description: Unprocessable Entity - Request body is incorrect.
            '500':
              description: 500 – Internal Server Error.
          securedBy:
            - oauth_2_0
          protocols:
            - HTTPS
        securedBy:
          - oauth_2_0
        '/{enrollmentid}':
          displayName: '/{enrollmentid}'
          type:
            member:
              schema_json: enrollments_json
              schema_id_json: enrollment_id_json
              schema_id_json_example: !include ./examples/Enrollment_id_json_example.json
              schema_json_example: !include ./examples/Enrollments_json_example.json
          get:
            description: Gets a enrollment using a URI resource parameter/ID.
            responses:
              '400':
                description: Bad Request – The request was invalid or cannot be served.
              '401':
                description: Unauthorized – The request requires an user authentication.
              '403':
                description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
              '404':
                description: Not found – There is no resource behind the URI.
              '500':
                description: Internal Server Error
            securedBy:
              - oauth_2_0
            protocols:
              - HTTPS
          put:
            description: Updates a specific enrollment specified by the URI resource parameter/ID.
            responses:
              '200':
                description: OK – Everything is working.
              '304':
                description: Not Modified – The client can use cached data.
              '400':
                description: Bad Request – The request was invalid or cannot be served.
              '401':
                description: Unauthorized – The request requires a user.
              '403':
                description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
              '404':
                description: Not found – There is no resource behind the URI.
              '500':
                description: Internal Server Error.
            securedBy:
              - oauth_2_0
            protocols:
              - HTTPS
          delete:
            description: Deletes a specific enrollment specified by the URI resource parameter/ID.
            responses:
              '204':
                description: OK – The resource was successfully deleted.
              '400':
                description: Bad Request – The request was invalid or cannot be served.
              '401':
                description: Unauthorized – The request requires user authentication.
              '403':
                description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
              '404':
                description: Not found – There is no resource behind the URI.
              '500':
                description: Internal Server Error.
            securedBy:
              - oauth_2_0
            protocols:
              - HTTPS
          uriParameters:
            enrollmentid:
              example: ADBC1111211111114111111111D1111V
              type: string
              displayName: Client Identifier
          securedBy:
            - oauth_2_0
          /enrollmentcocs:
            displayName: /enrollmentcocs
            description: 'Operations performed on the set of all HMIS enrollmentcocs within the system, and for adding a new enrollmentcoc to the set of enrollmentcocs '
            type:
              collection:
                id_schema_json: id_enrollmentcoc_json
                schema_json: enrollmentcoc_json
                schema_ids_json: enrollmentcoc_ids_json
                schema_ids_json_example: !include ./examples/EnrollmentCoC_ids_json_example.json
                schema_json_example: !include ./examples/EnrollmentCoC_json_example.json
                id_schema_json_example: !include ./examples/id_enrollmentcoc_json_example.json
            get:
              description: 'Searches for enrollmentcoc.  Returns a list of enrollmentcoc ids, based on the query parameters sent.  The query parameters are cumulative, so each additional query parameter narrows the search down further.'
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '500':
                  description: 500 – Internal Server Error
              securedBy:
                - oauth_2_0
              protocols:
                - HTTPS
            post:
              description: |
                Add a enrollmentcoc
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '401':
                  description: Unauthorized – The request requires user authentication.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '422':
                  description: Unprocessable Entity - Request body is incorrect.
                '500':
                  description: 500 – Internal Server Error.
              securedBy:
                - oauth_2_0
              protocols:
                - HTTPS
            securedBy:
              - oauth_2_0
            '/{enrollmentcocid}':
              displayName: '/{enrollmentcocid}'
              type:
                member:
                  schema_json: enrollmentcoc_json
                  schema_id_json: enrollmentcoc_id_json
                  schema_id_json_example: !include ./examples/EnrollmentCoC_id_json_example.json
                  schema_json_example: !include ./examples/EnrollmentCoC_json_example.json
              get:
                description: Gets a enrollmentcoc using a URI resource parameter/ID.
                responses:
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires an user authentication.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error
                securedBy:
                  - oauth_2_0
                protocols:
                  - HTTPS
              put:
                description: Updates a specific enrollmentcoc specified by the URI resource parameter/ID.
                responses:
                  '200':
                    description: OK – Everything is working.
                  '304':
                    description: Not Modified – The client can use cached data.
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires a user.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error.
                securedBy:
                  - oauth_2_0
                protocols:
                  - HTTPS
              delete:
                description: Deletes a specific enrollmentcoc specified by the URI resource parameter/ID.
                responses:
                  '204':
                    description: OK – The resource was successfully deleted.
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires user authentication.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error.
                securedBy:
                  - oauth_2_0
                protocols:
                  - HTTPS
              uriParameters:
                enrollmentcocid:
                  example: ADBC1111211111114111111111D1111V
                  type: string
                  displayName: EnrollmentCoC Identifier
              securedBy:
                - oauth_2_0
          /educations:
            displayName: /educations
            description: 'Operations performed on the set of all HMIS educations within the system, and for adding a new education to the set of educations '
            type:
              collection:
                id_schema_json: id_education_json
                schema_json: education_json
                schema_ids_json: education_ids_json
                schema_ids_json_example: !include ./examples/Education_ids_json_example.json
                schema_json_example: !include ./examples/Education_json_example.json
                id_schema_json_example: !include ./examples/id_education_json_example.json
            get:
              description: 'Searches for education.  Returns a list of education ids, based on the query parameters sent.  The query parameters are cumulative, so each additional query parameter narrows the search down further.'
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '500':
                  description: 500 – Internal Server Error
              securedBy:
                - oauth_2_0
              protocols:
                - HTTPS
            post:
              description: |
                Add a education
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '401':
                  description: Unauthorized – The request requires user authentication.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '422':
                  description: Unprocessable Entity - Request body is incorrect.
                '500':
                  description: 500 – Internal Server Error.
              securedBy:
                - oauth_2_0
              protocols:
                - HTTPS
            securedBy:
              - oauth_2_0
            '/{educationid}':
              displayName: '/{educationid}'
              type:
                member:
                  schema_json: education_json
                  schema_id_json: education_id_json
                  schema_id_json_example: !include ./examples/Education_id_json_example.json
                  schema_json_example: !include ./examples/Education_json_example.json
              get:
                description: Gets a education using a URI resource parameter/ID.
                responses:
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires an user authentication.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error
                securedBy:
                  - oauth_2_0
                protocols:
                  - HTTPS
              put:
                description: Updates a specific education specified by the URI resource parameter/ID.
                responses:
                  '200':
                    description: OK – Everything is working.
                  '304':
                    description: Not Modified – The client can use cached data.
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires a user.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error.
                securedBy:
                  - oauth_2_0
                protocols:
                  - HTTPS
              delete:
                description: Deletes a specific education specified by the URI resource parameter/ID.
                responses:
                  '204':
                    description: OK – The resource was successfully deleted.
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires user authentication.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error.
                securedBy:
                  - oauth_2_0
                protocols:
                  - HTTPS
              uriParameters:
                educationid:
                  example: ADBC1111211111114111111111D1111V
                  type: string
                  displayName: Education Identifier
              securedBy:
                - oauth_2_0
          /contacts:
            displayName: /contacts
            description: 'Operations performed on the set of all HMIS contacts within the system, and for adding a new contact to the set of contacts '
            type:
              collection:
                id_schema_json: id_contact_json
                schema_json: contact_json
                schema_ids_json: contact_ids_json
                schema_ids_json_example: !include ./examples/Contact_ids_json_example.json
                schema_json_example: !include ./examples/Contact_json_example.json
                id_schema_json_example: !include ./examples/id_contact_json_example.json
            get:
              description: 'Searches for contact.  Returns a list of contact ids, based on the query parameters sent.  The query parameters are cumulative, so each additional query parameter narrows the search down further.'
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '500':
                  description: 500 – Internal Server Error
              securedBy:
                - oauth_2_0
              protocols:
                - HTTPS
            post:
              description: |
                Add a contact
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '401':
                  description: Unauthorized – The request requires user authentication.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '422':
                  description: Unprocessable Entity - Request body is incorrect.
                '500':
                  description: 500 – Internal Server Error.
              securedBy:
                - oauth_2_0
              protocols:
                - HTTPS
            securedBy:
              - oauth_2_0
            '/{contactid}':
              displayName: '/{contactid}'
              type:
                member:
                  schema_json: contact_json
                  schema_id_json: contact_id_json
                  schema_id_json_example: !include ./examples/Contact_id_json_example.json
                  schema_json_example: !include ./examples/Contact_json_example.json
              get:
                description: Gets a contact using a URI resource parameter/ID.
                responses:
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires an user authentication.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error
                securedBy:
                  - oauth_2_0
                protocols:
                  - HTTPS
              put:
                description: Updates a specific contact specified by the URI resource parameter/ID.
                responses:
                  '200':
                    description: OK – Everything is working.
                  '304':
                    description: Not Modified – The client can use cached data.
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires a user.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error.
                securedBy:
                  - oauth_2_0
                protocols:
                  - HTTPS
              delete:
                description: Deletes a specific contact specified by the URI resource parameter/ID.
                responses:
                  '204':
                    description: OK – The resource was successfully deleted.
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires user authentication.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error.
                securedBy:
                  - oauth_2_0
                protocols:
                  - HTTPS
              uriParameters:
                contactid:
                  example: ADBC1111211111114111111111D1111V
                  type: string
                  displayName: Contact Identifier
              securedBy:
                - oauth_2_0
          /dateofengagements:
            displayName: /dateofengagements
            description: 'Operations performed on the set of all HMIS dateofengagements within the system, and for adding a new dateofengagement to the set of dateofengagements '
            type:
              collection:
                id_schema_json: id_dateofengagements_json
                schema_json: dateofengagements_json
                schema_ids_json: dateofengagements_ids_json
                schema_json_example: !include ./examples/DateOfEngagements_json_example.json
                schema_ids_json_example: !include ./examples/DateOfEngagements_ids_json_example.json
                id_schema_json_example: !include ./examples/id_dateofengagements_json_example.json
            get:
              description: 'Searches for dateofengagement.  Returns a list of dateofengagement ids, based on the query parameters sent.  The query parameters are cumulative, so each additional query parameter narrows the search down further.'
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '500':
                  description: 500 – Internal Server Error
              securedBy:
                - oauth_2_0
              protocols:
                - HTTPS
            post:
              description: |
                Add a dateofengagement
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '401':
                  description: Unauthorized – The request requires user authentication.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '422':
                  description: Unprocessable Entity - Request body is incorrect.
                '500':
                  description: 500 – Internal Server Error.
              securedBy:
                - oauth_2_0
              protocols:
                - HTTPS
            securedBy:
              - oauth_2_0
            '/{dateofengagementsid}':
              displayName: '/{dateofengagementsid}'
              type:
                member:
                  schema_json: dateofengagements_json
                  schema_id_json: dateofengagements_id_json
                  schema_id_json_example: !include ./examples/DateOfEngagements_id_json_example.json
                  schema_json_example: !include ./examples/DateOfEngagements_json_example.json
              get:
                description: Gets a dateofengagement using a URI resource parameter/ID.
                responses:
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires an user authentication.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error
                securedBy:
                  - oauth_2_0
                protocols:
                  - HTTPS
              put:
                description: Updates a specific dateofengagement specified by the URI resource parameter/ID.
                responses:
                  '200':
                    description: OK – Everything is working.
                  '304':
                    description: Not Modified – The client can use cached data.
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires a user.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error.
                securedBy:
                  - oauth_2_0
                protocols:
                  - HTTPS
              delete:
                description: Deletes a specific dateofengagement specified by the URI resource parameter/ID.
                responses:
                  '204':
                    description: OK – The resource was successfully deleted.
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires user authentication.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error.
                securedBy:
                  - oauth_2_0
                protocols:
                  - HTTPS
              uriParameters:
                dateofengagementsid:
                  example: ADBC1111211111114111111111D1111V
                  type: string
                  displayName: DateOfEngagements Identifier
              securedBy:
                - oauth_2_0
          /disabilities:
            displayName: /disabilities
            description: 'Operations performed on the set of all HMIS disabilities within the system, and for adding a new disability to the set of disabilities '
            type:
              collection:
                id_schema_json: id_disabilities_json
                schema_json: disabilities_json
                schema_ids_json: disabilities_ids_json
                schema_json_example: !include ./examples/Disabilities_json_example.json
                schema_ids_json_example: !include ./examples/Disabilities_ids_json_example.json
                id_schema_json_example: !include ./examples/id_disabilities_json_example.json
            get:
              description: 'Searches for disability.  Returns a list of disability ids, based on the query parameters sent.  The query parameters are cumulative, so each additional query parameter narrows the search down further.'
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '500':
                  description: 500 – Internal Server Error
              securedBy:
                - oauth_2_0
              protocols:
                - HTTPS
            post:
              description: |
                Add a disability
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '401':
                  description: Unauthorized – The request requires user authentication.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '422':
                  description: Unprocessable Entity - Request body is incorrect.
                '500':
                  description: 500 – Internal Server Error.
              securedBy:
                - oauth_2_0
              protocols:
                - HTTPS
            securedBy:
              - oauth_2_0
            '/{disabilitiesid}':
              displayName: '/{disabilitiesid}'
              type:
                member:
                  schema_json: disabilities_json
                  schema_id_json: disabilities_id_json
                  schema_json_example: !include ./examples/Disabilities_json_example.json
                  schema_id_json_example: !include ./examples/Disabilities_id_json_example.json
              get:
                description: Gets a disability using a URI resource parameter/ID.
                responses:
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires an user authentication.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error
                securedBy:
                  - oauth_2_0
                protocols:
                  - HTTPS
              put:
                description: Updates a specific disability specified by the URI resource parameter/ID.
                responses:
                  '200':
                    description: OK – Everything is working.
                  '304':
                    description: Not Modified – The client can use cached data.
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires a user.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error.
                securedBy:
                  - oauth_2_0
                protocols:
                  - HTTPS
              delete:
                description: Deletes a specific disability specified by the URI resource parameter/ID.
                responses:
                  '204':
                    description: OK – The resource was successfully deleted.
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires user authentication.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error.
                securedBy:
                  - oauth_2_0
                protocols:
                  - HTTPS
              uriParameters:
                disabilitiesid:
                  example: ADBC1111211111114111111111D1111V
                  type: string
                  displayName: Disabilities Identifier
              securedBy:
                - oauth_2_0
          /domesticviolences:
            displayName: /domesticviolences
            description: 'Operations performed on the set of all HMIS domesticviolences within the system, and for adding a new domesticviolence to the set of domesticviolences '
            type:
              collection:
                id_schema_json: id_domesticviolences_json
                schema_json: domesticviolence_json
                schema_ids_json: domesticviolence_ids_json
                schema_json_example: !include ./examples/DomesticViolence_json_example.json
                schema_ids_json_example: !include ./examples/DomesticViolence_ids_json_example.json
                id_schema_json_example: !include ./examples/id_domesticviolence_json_example.json
            get:
              description: 'Searches for domesticviolence.  Returns a list of domesticviolence ids, based on the query parameters sent.  The query parameters are cumulative, so each additional query parameter narrows the search down further.'
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '500':
                  description: 500 – Internal Server Error
              securedBy:
                - oauth_2_0
              protocols:
                - HTTPS
            post:
              description: |
                Add a domesticviolence
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '401':
                  description: Unauthorized – The request requires user authentication.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '422':
                  description: Unprocessable Entity - Request body is incorrect.
                '500':
                  description: 500 – Internal Server Error.
              securedBy:
                - oauth_2_0
              protocols:
                - HTTPS
            securedBy:
              - oauth_2_0
            '/{domesticviolenceid}':
              displayName: '/{domesticviolenceid}'
              type:
                member:
                  schema_json: domesticviolence_json
                  schema_id_json: domesticviolence_id_json
                  schema_json_example: !include ./examples/DomesticViolence_json_example.json
                  schema_id_json_example: !include ./examples/DomesticViolence_id_json_example.json
              get:
                description: Gets a domesticviolence using a URI resource parameter/ID.
                responses:
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires an user authentication.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error
                securedBy:
                  - oauth_2_0
                protocols:
                  - HTTPS
              put:
                description: Updates a specific domesticviolence specified by the URI resource parameter/ID.
                responses:
                  '200':
                    description: OK – Everything is working.
                  '304':
                    description: Not Modified – The client can use cached data.
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires a user.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error.
                securedBy:
                  - oauth_2_0
                protocols:
                  - HTTPS
              delete:
                description: Deletes a specific domesticviolence specified by the URI resource parameter/ID.
                responses:
                  '204':
                    description: OK – The resource was successfully deleted.
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires user authentication.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error.
                securedBy:
                  - oauth_2_0
                protocols:
                  - HTTPS
              uriParameters:
                domesticviolenceid:
                  example: ADBC1111211111114111111111D1111V
                  type: string
                  displayName: DomesticViolence Identifier
              securedBy:
                - oauth_2_0
          /employments:
            displayName: /employments
            description: 'Operations performed on the set of all HMIS employments within the system, and for adding a new employment to the set of employments '
            type:
              collection:
                id_schema_json: id_employments_json
                schema_json: employments_json
                schema_ids_json: employments_ids_json
                schema_json_example: !include ./examples/Employments_json_example.json
                schema_ids_json_example: !include ./examples/Employments_ids_json_example.json
                id_schema_json_example: !include ./examples/id_employments_json_example.json
            get:
              description: 'Searches for employment.  Returns a list of employment ids, based on the query parameters sent.  The query parameters are cumulative, so each additional query parameter narrows the search down further.'
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '500':
                  description: 500 – Internal Server Error
              securedBy:
                - oauth_2_0
              protocols:
                - HTTPS
            post:
              description: |
                Add a employment
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '401':
                  description: Unauthorized – The request requires user authentication.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '422':
                  description: Unprocessable Entity - Request body is incorrect.
                '500':
                  description: 500 – Internal Server Error.
              securedBy:
                - oauth_2_0
              protocols:
                - HTTPS
            securedBy:
              - oauth_2_0
            '/{employmentsid}':
              displayName: '/{employmentsid}'
              type:
                member:
                  schema_json: employments_json
                  schema_id_json: employment_id_json
                  schema_id_json_example: !include ./examples/Employment_id_json_example.json
                  schema_json_example: !include ./examples/Employments_json_example.json
              get:
                description: Gets a employment using a URI resource parameter/ID.
                responses:
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires an user authentication.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error
                securedBy:
                  - oauth_2_0
                protocols:
                  - HTTPS
              put:
                description: Updates a specific employment specified by the URI resource parameter/ID.
                responses:
                  '200':
                    description: OK – Everything is working.
                  '304':
                    description: Not Modified – The client can use cached data.
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires a user.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error.
                securedBy:
                  - oauth_2_0
                protocols:
                  - HTTPS
              delete:
                description: Deletes a specific employment specified by the URI resource parameter/ID.
                responses:
                  '204':
                    description: OK – The resource was successfully deleted.
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires user authentication.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error.
                securedBy:
                  - oauth_2_0
                protocols:
                  - HTTPS
              uriParameters:
                employmentsid:
                  example: ADBC1111211111114111111111D1111V
                  type: string
                  displayName: Employments Identifier
              securedBy:
                - oauth_2_0
          /exits:
            displayName: /exits
            description: 'Operations performed on the set of all HMIS exits within the system, and for adding a new exit to the set of exits '
            type:
              collection:
                id_schema_json: id_exits_json
                schema_json: exit_json
                schema_ids_json: exit_ids_json
                schema_json_example: !include ./examples/Exit_json_example.json
                schema_ids_json_example: !include ./examples/Exit_ids_json_example.json
                id_schema_json_example: !include ./examples/id_exits_json_example.json
            get:
              description: 'Searches for exit.  Returns a list of exit ids, based on the query parameters sent.  The query parameters are cumulative, so each additional query parameter narrows the search down further.'
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '500':
                  description: 500 – Internal Server Error
              securedBy:
                - oauth_2_0
              protocols:
                - HTTPS
            post:
              description: |
                Add a exit
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '401':
                  description: Unauthorized – The request requires user authentication.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '422':
                  description: Unprocessable Entity - Request body is incorrect.
                '500':
                  description: 500 – Internal Server Error.
              securedBy:
                - oauth_2_0
              protocols:
                - HTTPS
            securedBy:
              - oauth_2_0
            '/{exitsid}':
              displayName: '/{exitsid}'
              type:
                member:
                  schema_json: exit_json
                  schema_id_json: exit_id_json
                  schema_id_json_example: !include ./examples/Exit_id_json_example.json
                  schema_json_example: !include ./examples/Exit_json_example.json
              get:
                description: Gets a exit using a URI resource parameter/ID.
                responses:
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires an user authentication.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error
                securedBy:
                  - oauth_2_0
                protocols:
                  - HTTPS
              put:
                description: Updates a specific exit specified by the URI resource parameter/ID.
                responses:
                  '200':
                    description: OK – Everything is working.
                  '304':
                    description: Not Modified – The client can use cached data.
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires a user.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error.
                securedBy:
                  - oauth_2_0
                protocols:
                  - HTTPS
              delete:
                description: Deletes a specific exit specified by the URI resource parameter/ID.
                responses:
                  '204':
                    description: OK – The resource was successfully deleted.
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires user authentication.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error.
                securedBy:
                  - oauth_2_0
                protocols:
                  - HTTPS
              uriParameters:
                exitsid:
                  example: ADBC1111211111114111111111D1111V
                  type: string
                  displayName: Exits Identifier
              securedBy:
                - oauth_2_0
              /exithousingassesments:
                displayName: '/v2016/clients/{clientid}/enrollments/{enrollmentid}/exits/{exitsid}/exithousingassesments'
                description: 'Operations performed on the set of all HMIS exithousingassesments within the system, and for adding a new exithousingassesment to the set of exithousingassesments '
                type:
                  collection:
                    id_schema_json: id_exithousingassesment_json
                    schema_json: exithosingassessments_json
                    schema_ids_json: exithosingassessments_ids_json
                    schema_json_example: !include ./examples/ExitHousingAssesments_json_example.json
                    schema_ids_json_example: !include ./examples/ExitHousingAssesments_ids_json_example.json
                    id_schema_json_example: !include ./examples/id_exithousingassesment_json_example.json
                get:
                  description: 'Searches for exithousingassesment.  Returns a list of exithousingassesment ids, based on the query parameters sent.  The query parameters are cumulative, so each additional query parameter narrows the search down further.'
                  responses:
                    '400':
                      description: Bad Request – The request was invalid or cannot be served.
                    '403':
                      description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                    '404':
                      description: Not found – There is no resource behind the URI.
                    '500':
                      description: 500 – Internal Server Error
                  securedBy:
                    - oauth_2_0
                  protocols:
                    - HTTPS
                post:
                  description: |
                    Add a exithousingassesment
                  responses:
                    '400':
                      description: Bad Request – The request was invalid or cannot be served.
                    '401':
                      description: Unauthorized – The request requires user authentication.
                    '403':
                      description: 'Forbidden – The server understood the request, but is refusing it or access is not allowed.'
                    '404':
                      description: Not found – There is no resource behind the URI.
                    '422':
                      description: Unprocessable Entity - Request body is incorrect.
                    '500':
                      description: 500 – Internal Server Error.
                  securedBy:
                    - oauth_2_0
                  protocols:
                    - HTTPS
                securedBy:
                  - oauth_2_0
                '/{exithousingassesmentid}':
                  displayName: '/v2016/clients/{clientid}/enrollments/{enrollmentid}/exits/{exitsid}/exithousingassesments/{exithousingassesmentid}'
                  type:
                    member:
                      schema_json: exithosingassessments_json
                      schema_id_json: exithosingassessments_id_json
                      schema_json_example: !include ./examples/ExitHousingAssesments_json_example.json
                      schema_id_json_example: !include ./examples/ExitHousingAssesments_id_json_example.json
                  get:
                    description: Gets a exithousingassesment using a URI resource parameter/ID.
                    responses:
                      '400':
                        description: Bad Request – The request was invalid or cannot be served.
                      '401':
                        description: Unauthorized – The request requires an user authentication.
                      '403':
                        description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                      '404':
                        description: Not found – There is no resource behind the URI.
                      '500':
                        description: Internal Server Error
                    securedBy:
                      - oauth_2_0
                    protocols:
                      - HTTPS
                  put:
                    description: Updates a specific exithousingassesment specified by the URI resource parameter/ID.
                    responses:
                      '200':
                        description: OK – Everything is working.
                      '304':
                        description: Not Modified – The client can use cached data.
                      '400':
                        description: Bad Request – The request was invalid or cannot be served.
                      '401':
                        description: Unauthorized – The request requires a user.
                      '403':
                        description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                      '404':
                        description: Not found – There is no resource behind the URI.
                      '500':
                        description: Internal Server Error.
                    securedBy:
                      - oauth_2_0
                    protocols:
                      - HTTPS
                  delete:
                    description: Deletes a specific exithousingassesment specified by the URI resource parameter/ID.
                    responses:
                      '204':
                        description: OK – The resource was successfully deleted.
                      '400':
                        description: Bad Request – The request was invalid or cannot be served.
                      '401':
                        description: Unauthorized – The request requires user authentication.
                      '403':
                        description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                      '404':
                        description: Not found – There is no resource behind the URI.
                      '500':
                        description: Internal Server Error.
                    securedBy:
                      - oauth_2_0
                    protocols:
                      - HTTPS
                  uriParameters:
                    exithousingassesmentid:
                      example: ADBC1111211111114111111111D1111V
                      type: string
                      displayName: ExitHousingAssesments Identifier
                  securedBy:
                    - oauth_2_0
              /housingassesmentdispositions:
                displayName: '/v2016/clients/{clientid}/enrollments/{enrollmentid}/exits/{exitsid}/housingassesmentdispositions'
                description: 'Operations performed on the set of all HMIS housingassesmentdispositions within the system, and for adding a new housingassesmentdisposition to the set of housingassesmentdispositions '
                type:
                  collection:
                    id_schema_json: id_housingassesmentdispositions_json
                    schema_json: housingassesmentdispositions_json
                    schema_ids_json: housingassesmentdispositions_ids_json
                    schema_json_example: !include ./examples/HousingAssesmentDispositions_json_example.json
                    schema_ids_json_example: !include ./examples/HousingAssesmentDispositions_ids_json_example.json
                    id_schema_json_example: !include ./examples/id_HousingAssesmentDispositions_json_example.json
                get:
                  description: 'Searches for housingassesmentdisposition.  Returns a list of housingassesmentdisposition ids, based on the query parameters sent.  The query parameters are cumulative, so each additional query parameter narrows the search down further.'
                  responses:
                    '400':
                      description: Bad Request – The request was invalid or cannot be served.
                    '403':
                      description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                    '404':
                      description: Not found – There is no resource behind the URI.
                    '500':
                      description: 500 – Internal Server Error
                  securedBy:
                    - oauth_2_0
                  protocols:
                    - HTTPS
                post:
                  description: |
                    Add a housingassesmentdisposition
                  responses:
                    '400':
                      description: Bad Request – The request was invalid or cannot be served.
                    '401':
                      description: Unauthorized – The request requires user authentication.
                    '403':
                      description: 'Forbidden – The server understood the request, but is refusing it or access is not allowed.'
                    '404':
                      description: Not found – There is no resource behind the URI.
                    '422':
                      description: Unprocessable Entity - Request body is incorrect.
                    '500':
                      description: 500 – Internal Server Error.
                  securedBy:
                    - oauth_2_0
                  protocols:
                    - HTTPS
                securedBy:
                  - oauth_2_0
                '/{housingassesmentdispositionid}':
                  displayName: '/v2016/clients/{clientid}/enrollments/{enrollmentid}/exits/{exitsid}/housingassesmentdispositions/{housingassesmentdispositionid}'
                  type:
                    member:
                      schema_json: housingassesmentdispositions_json
                      schema_id_json: housingassesmentdispositions_id_json
                      schema_json_example: !include ./examples/HousingAssesmentDispositions_json_example.json
                      schema_id_json_example: !include ./examples/HousingAssesmentDispositions_id_json_example.json
                  get:
                    description: Gets a housingassesmentdisposition using a URI resource parameter/ID.
                    responses:
                      '400':
                        description: Bad Request – The request was invalid or cannot be served.
                      '401':
                        description: Unauthorized – The request requires an user authentication.
                      '403':
                        description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                      '404':
                        description: Not found – There is no resource behind the URI.
                      '500':
                        description: Internal Server Error
                    securedBy:
                      - oauth_2_0
                    protocols:
                      - HTTPS
                  put:
                    description: Updates a specific housingassesmentdisposition specified by the URI resource parameter/ID.
                    responses:
                      '200':
                        description: OK – Everything is working.
                      '304':
                        description: Not Modified – The client can use cached data.
                      '400':
                        description: Bad Request – The request was invalid or cannot be served.
                      '401':
                        description: Unauthorized – The request requires a user.
                      '403':
                        description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                      '404':
                        description: Not found – There is no resource behind the URI.
                      '500':
                        description: Internal Server Error.
                    securedBy:
                      - oauth_2_0
                    protocols:
                      - HTTPS
                  delete:
                    description: Deletes a specific housingassesmentdisposition specified by the URI resource parameter/ID.
                    responses:
                      '204':
                        description: OK – The resource was successfully deleted.
                      '400':
                        description: Bad Request – The request was invalid or cannot be served.
                      '401':
                        description: Unauthorized – The request requires user authentication.
                      '403':
                        description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                      '404':
                        description: Not found – There is no resource behind the URI.
                      '500':
                        description: Internal Server Error.
                    securedBy:
                      - oauth_2_0
                    protocols:
                      - HTTPS
                  uriParameters:
                    housingassesmentdispositionid:
                      example: ADBC1111211111114111111111D1111V
                      type: string
                      displayName: HousingAssesmentDisposition Identifier
                  securedBy:
                    - oauth_2_0
            '/{exitid}':
              /exitpaths:
                displayName: '/v2016/clients/{clientid}/enrollments/{enrollmentid}/exits/{exitid}/exitpaths'
                description: 'Operations performed on the set of all HMIS exitpaths within the system, and for adding a new exitpath to the set of exitpaths '
                type:
                  collection:
                    id_schema_json: id_exitpath_json
                    schema_json: exitpath_json
                    schema_ids_json: exitpath_ids_json
                    schema_json_example: !include ./examples/ExitPath_json_example.json
                    schema_ids_json_example: !include ./examples/ExitPath_ids_json_example.json
                    id_schema_json_example: !include ./examples/id_exitpath_json_example.json
                get:
                  description: 'Searches for exitpath.  Returns a list of exitpath ids, based on the query parameters sent.  The query parameters are cumulative, so each additional query parameter narrows the search down further.'
                  responses:
                    '400':
                      description: Bad Request – The request was invalid or cannot be served.
                    '403':
                      description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                    '404':
                      description: Not found – There is no resource behind the URI.
                    '500':
                      description: 500 – Internal Server Error
                  securedBy:
                    - oauth_2_0
                  protocols:
                    - HTTPS
                post:
                  description: |
                    Add a exitpath
                  responses:
                    '400':
                      description: Bad Request – The request was invalid or cannot be served.
                    '401':
                      description: Unauthorized – The request requires user authentication.
                    '403':
                      description: 'Forbidden – The server understood the request, but is refusing it or access is not allowed.'
                    '404':
                      description: Not found – There is no resource behind the URI.
                    '422':
                      description: Unprocessable Entity - Request body is incorrect.
                    '500':
                      description: 500 – Internal Server Error.
                  securedBy:
                    - oauth_2_0
                  protocols:
                    - HTTPS
                securedBy:
                  - oauth_2_0
                '/{exitpathid}':
                  displayName: '/v2016/clients/{clientid}/enrollments/{enrollmentid}/exits/{exitid}/exitpaths/{exitpathid}'
                  type:
                    member:
                      schema_json: exitpath_json
                      schema_id_json: exitpath_id_json
                      schema_json_example: !include ./examples/ExitPath_json_example.json
                      schema_id_json_example: !include ./examples/ExitPath_id_json_example.json
                  get:
                    description: Gets a exitpath using a URI resource parameter/ID.
                    responses:
                      '400':
                        description: Bad Request – The request was invalid or cannot be served.
                      '401':
                        description: Unauthorized – The request requires an user authentication.
                      '403':
                        description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                      '404':
                        description: Not found – There is no resource behind the URI.
                      '500':
                        description: Internal Server Error
                    securedBy:
                      - oauth_2_0
                    protocols:
                      - HTTPS
                  put:
                    description: Updates a specific exitpath specified by the URI resource parameter/ID.
                    responses:
                      '200':
                        description: OK – Everything is working.
                      '304':
                        description: Not Modified – The client can use cached data.
                      '400':
                        description: Bad Request – The request was invalid or cannot be served.
                      '401':
                        description: Unauthorized – The request requires a user.
                      '403':
                        description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                      '404':
                        description: Not found – There is no resource behind the URI.
                      '500':
                        description: Internal Server Error.
                    securedBy:
                      - oauth_2_0
                    protocols:
                      - HTTPS
                  delete:
                    description: Deletes a specific exitpath specified by the URI resource parameter/ID.
                    responses:
                      '204':
                        description: OK – The resource was successfully deleted.
                      '400':
                        description: Bad Request – The request was invalid or cannot be served.
                      '401':
                        description: Unauthorized – The request requires user authentication.
                      '403':
                        description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                      '404':
                        description: Not found – There is no resource behind the URI.
                      '500':
                        description: Internal Server Error.
                    securedBy:
                      - oauth_2_0
                    protocols:
                      - HTTPS
                  uriParameters:
                    exitpathid:
                      example: ADBC1111211111114111111111D1111V
                      type: string
                      displayName: ExitPath Identifier
                  securedBy:
                    - oauth_2_0
              uriParameters:
                exitid:
                  type: string
                  displayName: exitid
              /exitrhys:
                displayName: '/v2016/clients/{clientid}/enrollments/{enrollmentid}/exits/{exitid}/exitrhys'
                description: 'Operations performed on the set of all HMIS exitrhys within the system, and for adding a new exitrhy to the set of exitrhys '
                type:
                  collection:
                    id_schema_json: id_exitrhy_json
                    schema_json: exitrhy_json
                    schema_ids_json: exitrhy_ids_json
                    schema_json_example: !include ./examples/Exitrhy_json_example.json
                    schema_ids_json_example: !include ./examples/Exitrhy_ids_json_example.json
                    id_schema_json_example: !include ./examples/id_exitrhy_json_example.json
                get:
                  description: 'Searches for exitrhy.  Returns a list of exitrhy ids, based on the query parameters sent.  The query parameters are cumulative, so each additional query parameter narrows the search down further.'
                  responses:
                    '400':
                      description: Bad Request – The request was invalid or cannot be served.
                    '403':
                      description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                    '404':
                      description: Not found – There is no resource behind the URI.
                    '500':
                      description: 500 – Internal Server Error
                  securedBy:
                    - oauth_2_0
                  protocols:
                    - HTTPS
                post:
                  description: |
                    Add a exitrhy
                  responses:
                    '400':
                      description: Bad Request – The request was invalid or cannot be served.
                    '401':
                      description: Unauthorized – The request requires user authentication.
                    '403':
                      description: 'Forbidden – The server understood the request, but is refusing it or access is not allowed.'
                    '404':
                      description: Not found – There is no resource behind the URI.
                    '422':
                      description: Unprocessable Entity - Request body is incorrect.
                    '500':
                      description: 500 – Internal Server Error.
                  securedBy:
                    - oauth_2_0
                  protocols:
                    - HTTPS
                securedBy:
                  - oauth_2_0
                '/{exitrhyid}':
                  displayName: '/v2016/clients/{clientid}/enrollments/{enrollmentid}/exits/{exitid}/exitrhys/{exitrhyid}'
                  type:
                    member:
                      schema_json: exitrhy_json
                      schema_id_json: exitrhy_id_json
                      schema_json_example: !include ./examples/Exitrhy_json_example.json
                      schema_id_json_example: !include ./examples/Exitrhy_id_json_example.json
                  get:
                    description: Gets a exitrhy using a URI resource parameter/ID.
                    responses:
                      '400':
                        description: Bad Request – The request was invalid or cannot be served.
                      '401':
                        description: Unauthorized – The request requires an user authentication.
                      '403':
                        description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                      '404':
                        description: Not found – There is no resource behind the URI.
                      '500':
                        description: Internal Server Error
                    securedBy:
                      - oauth_2_0
                    protocols:
                      - HTTPS
                  put:
                    description: Updates a specific exitrhy specified by the URI resource parameter/ID.
                    responses:
                      '200':
                        description: OK – Everything is working.
                      '304':
                        description: Not Modified – The client can use cached data.
                      '400':
                        description: Bad Request – The request was invalid or cannot be served.
                      '401':
                        description: Unauthorized – The request requires a user.
                      '403':
                        description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                      '404':
                        description: Not found – There is no resource behind the URI.
                      '500':
                        description: Internal Server Error.
                    securedBy:
                      - oauth_2_0
                    protocols:
                      - HTTPS
                  delete:
                    description: Deletes a specific exitrhy specified by the URI resource parameter/ID.
                    responses:
                      '204':
                        description: OK – The resource was successfully deleted.
                      '400':
                        description: Bad Request – The request was invalid or cannot be served.
                      '401':
                        description: Unauthorized – The request requires user authentication.
                      '403':
                        description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                      '404':
                        description: Not found – There is no resource behind the URI.
                      '500':
                        description: Internal Server Error.
                    securedBy:
                      - oauth_2_0
                    protocols:
                      - HTTPS
                  uriParameters:
                    exitrhyid:
                      example: ADBC1111211111114111111111D1111V
                      type: string
                      displayName: Exitrhy Identifier
                  securedBy:
                    - oauth_2_0
          /heathinsurances:
            displayName: '/v2016/clients/{clientid}/enrollments/{enrollmentid}/heathinsurances'
            description: 'Operations performed on the set of all HMIS heathinsurances within the system, and for adding a new heathinsurance to the set of heathinsurances '
            type:
              collection:
                id_schema_json: id_healthinsurance_json
                schema_json: healthinsurance_json
                schema_ids_json: healthinsurances_ids_json
                schema_json_example: !include ./examples/HealthInsurance_json_example.json
                schema_ids_json_example: !include ./examples/HealthInsurances_ids_json_example.json
                id_schema_json_example: !include ./examples/id_healthinsurance_json_example.json
            get:
              description: 'Searches for heathinsurance.  Returns a list of heathinsurance ids, based on the query parameters sent.  The query parameters are cumulative, so each additional query parameter narrows the search down further.'
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '500':
                  description: 500 – Internal Server Error
              securedBy:
                - oauth_2_0
              protocols:
                - HTTPS
            post:
              description: |
                Add a heathinsurance
              responses:
                '400':
                  description: Bad Request – The request was invalid or cannot be served.
                '401':
                  description: Unauthorized – The request requires user authentication.
                '403':
                  description: 'Forbidden – The server understood the request, but is refusing it or access is not allowed.'
                '404':
                  description: Not found – There is no resource behind the URI.
                '422':
                  description: Unprocessable Entity - Request body is incorrect.
                '500':
                  description: 500 – Internal Server Error.
              securedBy:
                - oauth_2_0
              protocols:
                - HTTPS
            securedBy:
              - oauth_2_0
            '/{healthinsuranceid}':
              displayName: '/v2016/clients/{clientid}/enrollments/{enrollmentid}/heathinsurances/{healthinsuranceid}'
              type:
                member:
                  schema_json: healthinsurance_json
                  schema_id_json: healthinsurance_id_json
                  schema_json_example: !include ./examples/HealthInsurance_json_example.json
                  schema_id_json_example: !include ./examples/HealthInsurance_id_json_example.json
              get:
                description: Gets a heathinsurance using a URI resource parameter/ID.
                responses:
                  '400':
                    description: Bad Request – The request was invalid or cannot be served.
                  '401':
                    description: Unauthorized – The request requires an user authentication.
                  '403':
                    description: 'Forbidden – The server understood the request, but is refusing it or the access is not allowed.'
                  '404':
                    description: Not found – There is no resource behind the URI.
                  '500':
                    description: Internal Server Error
                securedBy:
                  - oauth_2_0
[...]
